@import 'mbkit-ember';

body {
  margin: 0;
  padding: 0;
}

.outer {
  display: flex;
}

.left-nav {
  border-right: 1px solid #eee;
  bottom: 0;
  box-sizing: border-box;
  padding: 16px 8px;
  position: fixed;
  top: 0;
  width: 220px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 16px 0;
  }

  a {
    color: #0d76cd;
    font-size: 18px;
    text-decoration: none;
  }
}

.container {
  padding: 8px 8px 300px 244px;
}

.sections {
  border: 1px solid var(--neutral-light);
  margin-bottom: 16px;
  padding: 16px;
}

.sections-bg {
  background: #eee;
}

.sections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 16px;
}

.heading {
  margin-bottom: 8px;
}

